<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.commodity_center.dao.user_center.UserInformationMapper">
    <resultMap id="BaseResultMap" type="com.mall.commodity_center.domain.entity.user_center.UserInformation">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_age" jdbcType="INTEGER" property="userAge"/>
        <result column="user_birthdate" jdbcType="DATE" property="userBirthdate"/>
        <result column="user_sex" jdbcType="TINYINT" property="userSex"/>
        <result column="user_balance" jdbcType="REAL" property="userBalance"/>
    </resultMap>
</mapper>