<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.commodity_center.dao.commodity_center.CommodityInfoMapper">
  <resultMap id="BaseResultMap" type="com.mall.commodity_center.domain.entity.commodity_center.CommodityInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="commodity_id" jdbcType="VARCHAR" property="commodityId" />
    <result column="commodity_information" jdbcType="VARCHAR" property="commodityInformation" />
    <result column="commodity_remainder" jdbcType="INTEGER" property="commodityRemainder" />
    <result column="commodity_picture_url" jdbcType="LONGVARCHAR" property="commodityPictureUrl" />
  </resultMap>
</mapper>